body{

}



/* header related style */
.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1330px;
    height: 610px;
    border-radius: 20px;
    background-position: center;
    margin-left: auto;
    margin-right: auto;


}

.hi1 {
    color: #FFF;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    padding-top: 180px;
}

.hi2 {
    color: #FFF;
    text-align: center;
    font-size: 75px;
    font-style: normal;
    font-weight: 900;
    padding-left: 345px;
    padding-right: 345px;
    margin-top: 0;
}

/* Second Section */

.off {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 50px;
}

.holiday {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;

}

.all {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    ma
}


.banner2 {
    position: relative;
}


.headtitle {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/vectorrr.png");
    width: 1330px;
    height: 610px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    background-position: center;
    margin-left: auto;
    margin-right: auto;


}

.headtitle>.group1 {
    display: flex;
}

.name1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 7.04px;
    padding-top: 127px;
    padding-left: 127px;
    padding-right: 550px;

}

.banner-des {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding-left: 127px;
    padding-right: 550px;
    margin-bottom: 50px;
}

.group1 {
    padding-left: 870px;
    margin-top: -400px;
    width: 320px;
    height: 465px;

}

.join {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 25px;

    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 160px;
    padding-top: 435px;
}


/* Join now section */

.join-now {
    width: 1320px;
    height: 482px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    ;
    border-radius: 20px;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;

}

.red {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;

}

.time {
    padding: 110px 380px 220px 380px;
    color: #070211;
    font-family: Inter;
    font-size: 29px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.join-now-button {
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    border: 0;
    margin-left: 190px;
}


/* section-third */

.new {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    padding-right: 370px;

}

.coming-soon {
    color: #070211;
    font-family: Merriweather;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    text-transform: capitalize;
    padding-left: 125px;
    padding-right: ;
}

.para1 {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding-right: 450px;
    text-align: left;
    padding-left: 125px;

}


.ellipse {
    padding-left: 600px;
    padding-right: 535px;


}

.h22024 {
    color: #F00;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;

}


.para2 {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    padding-right: 150px;
}


.test {
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 463px;
    border: 15px solid #F00;


}

.coming {
    display: flex;
    margin-top: 120px;

}

.div1 {
    padding-right: 600px;
}

.div2 {
    margin-left: -900px;
    padding-right: 230px;
}

/* section-third */

.holiday {
    margin-top: 120px;
    margin-bottom: 200px;
}

.what {
    color: #070211;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
}

.holiday-sale {
    color: #070211;
    font-family: Merriweather;
    font-size: 75px;
    font-style: normal;
    font-weight: 900;
}

.para3 {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    padding: 0px 270px 0px 270px;
    margin-top: -10px;
}



/* scetion gift */

.recta {
    display: flex;
}



.discount {
    margin-top: 500px;
    padding-left: 140px;
    padding-right: 140px;
    margin-bottom: 130px;
}

.gift {
    background-image: url("/images/Rectangle2.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 1320px;
    height: 229px;
    flex-shrink: 0;

}

.giftpic {
    margin-top: -290px;
    width: 500px;
    height: 450px;
    padding-left: 150px;
    

}


.circle {
    width: 207px;
    height: 207px;
    margin-left: -535px;
    margin-top: -320px;
    position: absolute;

}


.dirl {
    margin-left: -430px;
    margin-top: -480px;
    width: 430px;
    height: 433px;
    z-index: -5;
    position: relative;
}



/* section-fourth */
.titlethe{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
}

.titlethe2{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
text-transform: capitalize;
}


.titlepara{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
}

.sec1{
    padding-left:120px;
    padding-right: 140px;
    margin-left: 30px;
    
}

.pic1{
    border-radius: 18px;
    padding-right: 25px;
    width: 398px;
height: 430px;

    
}


.sec2{
    padding-left:120px;
    padding-right: 140px;
    margin-left: 30px;
    padding-top: 25px;
}


.title{
    margin-bottom: 50px;
    padding-left: 140px;
}


/* subscribe section */

.subscribe{
    border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
width: 1320px;
height: 616px;
margin-left: 140px;
margin-top: 140px;
}

.sub{
    color: #070211;
text-align: center;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
text-transform: capitalize;
}

.para3{
    color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
}
.mail{
    padding-left: 585px;
    padding-top: 78px;
    width: 150px;
height: 150px;
}

#inputmail{
    width: 648px;
height: 70px;
flex-shrink: 0;
border-radius: 50px;
background: #FFF;
margin-left: 337px;
border: 0;
padding-left: 30px;
}

.button2{
    border-radius: 0px 50px 50px 0px;
background: #F00;
width: 210px;
height: 74.8px;
border: 0;
margin-left: -200px;
padding-bottom: 5px;



}

.sus{
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
text-transform: capitalize;
}


/* footer scetion */

.foot{
    width: 1600px;
height: 609px;
flex-shrink: 0;
background: #070211;
}


.last44{
    color: #FFF;
font-family: Inter;
font-size: 25px;
font-style: normal;
font-weight: 500;
padding: 120px 600px 410px 140px;
}

.num{
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;

}
.icon{
    padding: 120px 290px 0px 0px;
}

.last {
    display: flex;
}

.hrline1{
    width: 1320px;
height: 1px;
background: rgba(255, 255, 255, 0.15);
}


.social-icons{
    margin-top: -295px;
    width: 65px;
height: 65px;
display: flex;
padding-top: ;
padding-left: 640px;
}


.allrights{
    color: #FFF;
font-family: Inter;
font-size: 25px;
font-style: normal;
font-weight: 500;
padding-left: 140px;
margin-top: 80px;
}

.copyright{
    display: flex;
}


#un{
    margin-left: 770px;
}

footer{
    margin-top: 140px;
}